language: node_js
node_js:
  - "stable"
notifications:
  email: false
services:
  - postgresql
cache:
  directories:
    - node_modules
before_script:
  - npm install
  - psql -c 'create database wayfarerdb;' -U postgres
  - psql -c "CREATE USER wayfarer WITH PASSWORD 'wayfarer';" -U postgres
  - npm run create
script: 
  - npm run test
after_success:
  - npm run coverage
  - npm run report-coverage
  - npm run coveralls